.header-root[data-v-7e1dc84b] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 23px;
    height: 46px;
    min-height: 46px
}

.header-root .logo[data-v-7e1dc84b] {
    margin-right: 20px
}

.header-root .logo img[data-v-7e1dc84b] {
    height: 16px
}

.header-root .link-to-top-page[data-v-7e1dc84b] {
    font-size: 12px;
    color: #469fd6;
    padding-top: 5px
}

.header-root .language-selector[data-v-7e1dc84b] {
    margin-left: auto;
    position: relative
}

.header-root .language-selector[data-v-7e1dc84b]:after {
    content: "\F078";
    font-family: FontAwesome;
    color: #bec8d2;
    font-size: 10px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-45%);
    transform: translateY(-45%);
    right: 8px
}

.header-root .language-selector select[data-v-7e1dc84b] {
    background-color: transparent;
    border: none;
    font-size: 11px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 130%;
    padding-right: 24px
}

.has-text-bold[data-v-597ba6dc] {
    font-weight: 700
}

.samples[data-v-597ba6dc] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.samples .sample-item[data-v-597ba6dc] {
    margin-bottom: 20px;
    cursor: pointer
}

.samples .sample-item .thumb[data-v-597ba6dc] {
    position: relative;
    border-radius: 3px;
    overflow: hidden
}

.samples .sample-item .label[data-v-597ba6dc] {
    text-align: center;
    margin-top: 8px;
    font-size: 13px
}

.samples .sample-item.selected .thumb[data-v-597ba6dc]:before {
    border: 3px solid #00b900;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.samples .sample-item.selected .label[data-v-597ba6dc] {
    color: #00b900
}

.user-picture[data-v-71fce120] {
    border-radius: 50%
}

.user-name[data-v-71fce120] {
    padding: .5em
}

.buttons[data-v-71fce120] {
    text-align: center
}

.user-picture[data-v-364d2986] {
    border-radius: 50%
}

.user-name[data-v-364d2986] {
    padding: .5em
}

body,
html {
    height: 100%
}

body {
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Noto Sans Japanese, "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", Meiryo, sans-serif
}

#app {
    margin: 0;
    padding: 0;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%
}

#app,
#top-pane {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal
}

#top-pane {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 10px
}

#top-pane h1 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 26px;
    font-weight: 700;
    color: #777;
    margin: auto auto auto 20px
}

#main-pane {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: 0
}

#left-pane,
#main-pane {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal
}

#left-pane {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 0 0 375px;
    flex: 0 0 375px;
    position: relative
}

#inbox-pane,
#left-pane {
    -webkit-box-orient: vertical;
    -webkit-box-flex: 0
}

#inbox-pane {
    padding: 1rem;
    color: #333;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    background-color: transparent;
    width: 100%
}

#inbox {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

#viewer-pane {
    background-color: #849ebf;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    padding-top: 50px;
    width: 500px
}

#viewer-frame {
    background-color: #849ebf;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: block;
    border: 0;
    overflow: hidden;
    width: 400px
}

.flexSolo {
    width: 400px
}

.flexCarousel {
    width: 500px !important
}

#center-pane {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0
}

#command-pane {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0px;
    flex: 0 0 0;
    padding: 10px;
    background-color: silver
}

#tree-pane {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    background-color: #333;
    width: 100%;
    overflow-y: auto
}

#tree-pane * {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none
}

#tree-pane li {
    color: #d0d0d0;
    margin-left: 18px;
    line-height: 1.5;
    list-style-type: none !important
}

#tree-pane li>div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2px
}

#tree-pane li>div:hover {
    background-color: #444
}

#tree-pane li>div.focused {
    background-color: #255e9a
}

#tree-pane li.has-error>div {
    background-color: #cc3838
}

#tree-pane li.deprecated>div {
    background-color: #ad8200
}

#tree-pane ul {
    padding: 0;
    position: relative
}

#tree-pane span.node-icon i {
    display: inline-block;
    width: 16px;
    text-align: center
}

#form-pane {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
    padding: 20px;
    background-color: #eee;
    overflow-y: auto
}

#form-pane h4 {
    margin-top: 20px
}

#form-pane input[type=color] {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px
}

#form-pane .col-form-label {
    text-align: right
}

#editor {
    width: 100%;
    height: 800px
}

#top-pane[data-v-67567c9f] {
    border-top: 1px solid #dee5ec;
    background-color: #f4f6f9
}